[submodule "rime-jyutping"]
	path = rime-jyutping
	url = https://github.com/rime/rime-jyutping.git
[submodule "rime-cantonese"]
	path = rime-cantonese
	url = https://github.com/rime/rime-cantonese.git
